@{ ViewData["Title"] = "About";
                Layout = "_Layout"; }

<section id="home-about" class="home-about">
    <div class="container">

        <div class="section-title">
            <span>About</span>
            <h2>About</h2>
        </div>

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2 aos-init" data-aos="fade-left">
                <img src="~/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content aos-init" data-aos="fade-right">
                <h3>Our mission is to bring high quality and affordable instruments for anyone!</h3>
                <p class="font-italic">
                    Musebox was founded in Tel Aviv in 1988 in order to provide musicians with the best instruments at the most affordable prices and to this day is one of the high-quality stores in Israel!
                </p>
                <ul>
                    
                        <li><i class="icofont-check-circled"></i> Huge variety of products.</li>
                        <li><i class="icofont-check-circled"></i> 24/7 customer service.</li>
                        <li><i class="icofont-check-circled"></i> Best prices in the market.</li>
                        <li><i class="icofont-check-circled"></i> High-quality standards.</li>
                    
                </ul>
                <p>
                    Looking for the ultimate store to buy your gear? Tired of excessive prices and intolerable customer service? You're in the right place.
                     Musebox will offer you all you need as a musician, at the best prices, biggest variety and with our awesome 24/7 customer service ready to help you with all your needs! 
                </p>
            </div>
        </div>
    </div>
</section>

<section id="home-about-why-us" class="home-about-why-us">
    <div class="container">

        <div class="section-title">
            <span>3 Easy Steps</span>
            <h2>3 Easy Steps</h2>
        </div>

        <div class="row">

            <div class="col-lg-4 aos-init" data-aos="fade-up">
                <div class="box">
                    <span>Step 01</span>
                    <h4>Choose your gear</h4>
                    <p>Choose from our top-quality and high-standard catalog offering the best instruments money can buy!</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0 aos-init" data-aos="fade-up" data-aos-delay="150">
                <div class="box">
                    <span>Step 02</span>
                    <h4>Make an order</h4>
                    <p>Pick your gear and make an order with our easy and approacable platform. We guarantee the best prices in the market!</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0 aos-init" data-aos="fade-up" data-aos-delay="300">
                <div class="box">
                    <span>Step 03</span>
                    <h4>Get your order in 24h</h4>
                    <p>We believe in awesome customer service and in fast and high-quality delivery. Get your order in 24 hours only!</p>
                </div>
            </div>

        </div>

    </div>
</section>

<section id="home-about-why-us" class="home-about-why-us">
    <div class="container">

        <div class="section-title">
            <span>Watch Now</span>
            <h2>Watch Now</h2>
            <p>Our customers got sponsored by ESP Guitars! WATCH NOW!</p>
        </div>

        <div class="col-lg-12 col-md-12 d-flex align-items-stretch aos-init" data-aos="zoom-in">
            <video autoplay loop id="video-background" muted plays-inline controls>
                <source src="~/Video/MuseboxAboutVideo.webm" type="video/mp4">
            </video>
        </div>

    </div>
</section>

<section id="home-about-team" class="team">
    <div class="container">

        <div class="section-title">
            <span>The Team</span>
            <h2>The Team</h2>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init" data-aos="zoom-in">
                <div class="member">
                    <img src="~/img/team/team-1.jpg" alt="">
                    <h4>LEE LAVY</h4>
                    <span>Chief Executive Officer</span>
                    <div class="social">
                        <a href=""><i class="icofont-twitter"></i></a>
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init" data-aos="zoom-in">
                <div class="member">
                    <img src="~/img/team/team-2.jpg" alt="">
                    <h4>ALON LEVY</h4>
                    <span>Product Manager</span>
                    <div class="social">
                        <a href=""><i class="icofont-twitter"></i></a>
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init" data-aos="zoom-in">
                <div class="member">
                    <img src="~/img/team/team-3.jpg" alt="">
                    <h4>YOGEV MIZRAHI</h4>
                    <span>Business Analyst</span>
                    <div class="social">
                        <a href=""><i class="icofont-twitter"></i></a>
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init" data-aos="zoom-in">
                <div class="member">
                    <img src="~/img/team/team-4.jpg" alt="">
                    <h4>MICHAEL YAKOBI</h4>
                    <span>Distribution Supervisor</span>
                    <div class="social">
                        <a href=""><i class="icofont-twitter"></i></a>
                        <a href=""><i class="icofont-facebook"></i></a>
                        <a href=""><i class="icofont-instagram"></i></a>
                        <a href=""><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>