@{ ViewData["Title"] = "Statistics";
    Layout = "_Layout"; }
@using Musebox_Web_Project.Controllers

<section id="home-statistics" class="home-statistics">
    <div class="container">

        <div class="section-title">
            <span>Statistics</span>
            <h2>Statistics</h2>
        </div>

        <div>

            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

            <table id="datatable" style="display:none">
                <thead>
                    <tr>
                        <th></th>
                        <th>Type</th>

                    </tr>
                </thead>

                <tbody>
                    @if (ViewBag.data != null)
                    {
                        @foreach (var v in ViewBag.data as ICollection<Stat>)
                        {
                            <tr>
                                <th> @v.Key</th>
                                <th>@v.Values</th>
                            </tr>
                        }}
                </tbody>
            </table>

        </div>

        <div>

            <div id="container2" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>

            <table id="datatable2" style="display:none">
                <thead>
                    <tr>
                        <th></th>
                        <th>Item Name</th>

                    </tr>
                </thead>

                <tbody>
                    @if (ViewBag.data != null)
                    {
                        @foreach (var v in ViewBag.data2 as ICollection<Stat>)
                        {
                            <tr>
                                <th> @v.Key</th>
                                <th>@v.Values</th>
                            </tr>
                        }}
                </tbody>
            </table>

        </div>

    </div>
</section>

@section Scripts{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script src="~/js/statistics.js"></script>
}