@model Musebox_Web_Project.Models.User

@{
    ViewData["Title"] = "Login";
    Layout = "_UserLayout";
}

<div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
        <div class="col-lg-6">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                <form class="user" asp-action="Login">
                    <div class="form-group">
                        <input type="email" class="form-control form-control-user" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control form-control-user" id="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary btn-user btn-block" type="submit" id="submitsearch" value="Log in" />
                    </div>
                    <hr>

                </form>
                <div class="text-center">
                    <a class="small" asp-action="Register">Create an Account !</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="~/user/vendor/jquery/jquery.min.js"></script>
<script src="~/user/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="~/user/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="~/user/js/sb-admin-2.min.js"></script>