@model IEnumerable<Musebox_Web_Project.Models.Brand>



                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BrandName)
                            </td>
                            <td class="td-actions">
                                <a asp-action="Edit" asp-route-id="@item.BrandId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.BrandId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.BrandId">Delete</a>
                            </td>
                        </tr>
                    }
                


